:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-size: 1.5em;
  background-image: url("./src/assets/TodoApp_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --yellow: #ffcb3a;
  --green: #11d0b3;
  --grey-medium: #37495f;
  --grey-dark: #293b51;
  --blue: #d5e7f5;
  --red: #a11717;
  --blue-dark: #152735;

  color: var(--grey-dark);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 0.7em;
  font-family: "Kaushan Script", cursive;
  color: #ffcb3a;
}

h2 {
  font-size: 1.5em;
  line-height: 0.8em;
  font-weight: bold;
}

h3 {
  font-size: 0.8em;
  line-height: 0.5em;
}
