.form {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
  top: 20px;
}

.formBox {
  height: 50px;
  width: 230px;
  border-radius: 15px;
  font-size: 0.75em;
  color: var(--grey-medium);
  background-color: var(--blue);
  border: 2px solid;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.createTask {
  height: 55px;
  width: 250px;
  border-radius: 15px;
  background-color: var(--grey-dark);
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.createTask:hover {
  background-color: var(--green);
  color: var(--grey-dark);
}
